
body {
    background-color: rgb(49, 110, 190);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}


img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    color: white;
    text-align: center;
}

